<div class="ocl-card ocl-card--no-border-header ocl-card--no-border-footer ocl-card-student">
    <div class="ocl-card__header">
        <div class="ocl-card__header-content">
            <div class="ocl-student-card__header-name">
                {{name}}
            </div>
            <div class="ocl-student-card__header-date">
                {{date}}
            </div>
        </div>
    </div>
    <div class="ocl-card__body ocl-student-card__body">
        <div class="ocl-card__body-content ocl-student-card__body-content">
            <ul class="{{open ? 'ocl-student-card__activity-list ocl-student-card__activity-list--open' : 'ocl-student-card__activity-list'}}">
                <li *ngFor="let activity of activities; let i = index;" class="ocl-student-card__activity">
                    <div ocl-assignment-activity [title]="activity.title" [icon]="activity.icon">
											<div *ngIf="activity.title" class="ocl-student-card__activity-item">
												{{activity.item}}
											</div>
											<div *ngIf="activity.descr" class="ocl-student-card__activity-detail">
												{{activity.descr}}
											</div>
										</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="ocl-card__footer ocl-student-card__footer">
        <div class="ocl-card__footer-content ocl-student-card__footer-content">
            <a href="#" class="ocl-student-card__activity-more" (click)="this.toggleMoreActivity()">{{this.open ? 'See Less Activity' : 'See More Activity'}} <i class="fa {{open ? 'fa-chevron-up' : 'fa-chevron-down'}}" aria-hidden="true"></i></a>
            <a href="{{assignmentLink}}" *ngIf="this.activities.length > 1" class="ocl-student-card__activity-full">Full History</a>
        </div>
    </div>
</div>
