<div class="ocl-main-nav">
    <button class="ocl-main-nav__toggle"><span class="ocl-main-nav__logo"></span><span
            class="ocl-main-nav__toggle-caption">Menu</span></button>
    <a href="#" class="ocl-main-nav__home"><i class="fa fa-home" aria-hidden="true"></i></a>
    <div class="ocl-main-nav__action-bar--right">
        <ul class="ocl-main-nav__items-list">
            <li class="ocl-main-nav__item"><a href="#" class="ocl-main-nav__link">Tours</a></li>
            <li class="ocl-main-nav__item"><a href="#" class="ocl-main-nav__link">Help</a></li>
            <li class="ocl-main-nav__item"><a href="#" class="ocl-main-nav__link">News</a></li>
        </ul>

        <span class="ocl-search">
			<input class="ocl-search__input ocl-search__input--shadow" placeholder="Search">
			<button class="ocl-search__button"><i class="fa fa-search" aria-hidden="true"></i></button>
		</span>
        <div class="ocl-account-menu">
            <a href="#" class="ocl-account-menu__toggle">
                <div class="ocl-account-menu__username">
                    <span class="ocl-account-menu__username-type">{{name}}</span><i
                        class="fa fa-user-circle-o ocl-account-menu-icon" aria-hidden="true"></i>
                </div>
            </a>
            <div class="ocl-popover">
                <div class="ocl-popover__list">
                    <a class="ocl-popover__link" href="#">
                        <span>Link in pop</span>
                    </a>
                    <a class="ocl-popover__link" href="#">
                        <span>Link in pop</span>
                    </a>
                </div>
                <button class="ocl-popover__close">
                    <div class="ocl-popover__close-element"></div>
                </button>
            </div>
        </div>
    </div>
</div>