<div class="ocl-main-nav">
    <button class="ocl-main-nav__toggle" (click)="drawerToggle()"><span class="ocl-main-nav__logo"></span><span
            class="ocl-main-nav__toggle-caption">Menu</span></button>
    <a href="#" class="ocl-main-nav__home"><i class="fa fa-home" aria-hidden="true"></i></a>
    <div class="ocl-main-nav__action-bar--right">
        <ul class="ocl-main-nav__items-list">
            <li class="ocl-main-nav__item"><a href="#" class="ocl-main-nav__link">Tours</a></li>
            <li class="ocl-main-nav__item"><a href="#" class="ocl-main-nav__link">Help</a></li>
            <li class="ocl-main-nav__item"><a href="#" class="ocl-main-nav__link">News</a></li>
        </ul>

        <span class="ocl-search">
			<input class="ocl-search__input ocl-search__input--shadow" placeholder="Search">
			<button class="ocl-search__button"><i class="fa fa-search" aria-hidden="true"></i></button>
		</span>
       <div ocl-account-menu [name]="'Barbara T'"></div>
    </div>
</div>
