<div class="gui-list">
    <div class="gui-list__block">
        <div class="gui-list__element">
            <ocl-button #button></ocl-button>
        </div>
        <div class="gui-list__controls">
            <button (click)="button.disable()">disable</button>
            <button (click)="button.enable()">enable</button>
            <button (click)="button.focus()">focus</button>
        </div>
    </div>
    <div class="gui-list__block">
        <ocl-textfield #input this._required></ocl-textfield>
        <div class="gui-list__controls">
            <button (click)="input.focus()">focus</button>
            <button (click)="input.blur()">blur</button>
            <button (click)="input.required()">required</button>
        </div>
    </div>

</div>