<div ocl-main-nav [name]="user.name ? user.name : ''"></div>
<div class="container">
	<div class="entrada-wrapper student-link">
		<div class="row">
			<div class="col s12">
				<div class="ocl-student-link-filter">
					<div class="ocl-student-link-filter__title">Sort by:</div>
					<label class="ocl-filter-toggle">
						<input type="radio" class="ocl-filter-toggle__input" name="group" value="toggle">
						<span class="ocl-filter-toggle__text">Recently Active</span>
					</label>
					<label class="ocl-filter-toggle">
						<input type="radio" class="ocl-filter-toggle__input" name="group" value="toggle">
						<span class="ocl-filter-toggle__text">Alphabetical</span>
					</label>
					<label class="ocl-filter-toggle">
						<input type="radio" class="ocl-filter-toggle__input" name="group" value="toggle">
						<span class="ocl-filter-toggle__text">Date Added</span>
					</label>
					<label class="ocl-filter-toggle">
						<input type="radio" class="ocl-filter-toggle__input" name="group" value="toggle">
						<span class="ocl-filter-toggle__text">Status</span>
					</label>
				</div>
				<div class="ocl-student-link-wrap">
					<div class="ocl-card ocl-card--square-top ocl-student-link-card">
						<div class="ocl-card__body">
							<a href="#" class="ocl-student-link-card__link">Jennifer Gonzalez</a>
							<div class="ocl-student-link-card__last-action">
								<div class="ocl-student-link-card__last-action-icon">
									<i class="fa fa-clock-o" aria-hidden="true"></i>
								</div>
								<div class="ocl-student-link-card__last-action-info">
									<div class="ocl-student-link-card__last-action-date">4/15/17</div>
									<div class="ocl-student-link-card__last-action-title">Completed Assignment</div>
								</div>
							</div>
						</div>
						<div class="ocl-card__footer">
							<span class="ocl-student-link-card__status">Active</span>
						</div>
					</div>
					<div class="ocl-card ocl-card--square-top ocl-student-link-card">
						<div class="ocl-card__body">
							<a href="#" class="ocl-student-link-card__link">Bradley ​​​​​​​Peterson</a>
							<div class="ocl-student-link-card__last-action">
								<div class="ocl-student-link-card__last-action-icon">
									<i class="fa fa-clock-o" aria-hidden="true"></i>
								</div>
								<div class="ocl-student-link-card__last-action-info">
									<div class="ocl-student-link-card__last-action-date">4/15/17</div>
									<div class="ocl-student-link-card__last-action-title">Completed Assignment</div>
								</div>
							</div>
						</div>
						<div class="ocl-card__footer">
							<span class="ocl-student-link-card__status">Active</span>
						</div>
					</div>
					<div class="ocl-card ocl-card--square-top ocl-student-link-card">
						<div class="ocl-card__body">
							<a href="#" class="ocl-student-link-card__link">Catherine ​​​​​​​Ross</a>
						</div>
						<div class="ocl-card__footer">
							<span class="ocl-student-link-card__status">Pending</span>
						</div>
					</div>
					<div class="ocl-card ocl-card--square-top ocl-student-link-card">
						<div class="ocl-card__body">
							<a href="#" class="ocl-student-link-card__link">Thomas ​​​​​​​Perkins</a>
						</div>
						<div class="ocl-card__footer">
							<span class="ocl-student-link-card__status">Deactivated</span>
						</div>
					</div>
					<div class="ocl-card ocl-card--square-top ocl-student-link-card">
						<div class="ocl-card__body">
							<a href="#" class="ocl-student-link-card__link">Wendy​​​​​​​Shapiro</a>
						</div>
						<div class="ocl-card__footer">
							<span class="ocl-student-link-card__status">Deactivated</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
