<div ocl-main-nav [name]="user.name ? user.name : ''"></div>
<div class="ocl-grid-container">
	<div class="entrada-wrapper dashboard">
		<div class="ocl-grid-row ocl-grid-row-inline-center">
			<div class="ocl-grid-col s12">
				<h1 class="entta-dashboard__lib-label ocl-page-title__heading">Learn and teach using our video libraries:</h1>
			</div>
			<div class="entta-dashboard__lib-buttons">
				<button ocl-button-large>
					<img src="http://placehold.it/50x50" class="ocl-button__image--round" alt="">
					<span class="ocl-button__label">Skill Library</span>
				</button>
				<button ocl-button-large>
					<img src="http://placehold.it/50x50" class="ocl-button__image--round" alt="">
					<span class="ocl-button__label">Repertoire Library</span>
				</button>
			</div>
		</div>

		<div class="ocl-grid-row">
			<div class="ocl-grid-col s6">
				<ocl-tabs>
					<ocl-tab tabTitle="Student activity"> Some content</ocl-tab>
					<ocl-tab tabTitle="Your activity">
						<ocl-watch-event
								[watchEvents]="watchEvent.allEvents"
						></ocl-watch-event>
					</ocl-tab>
				</ocl-tabs>
			</div>
			<div class="ocl-grid-col s1"></div>
			<div class="ocl-grid-col s5">
				<ocl-webinar-card
					[text]="webinar.allEvents ? webinar.allEvents[0].text : ''"
					[title]="webinar.allEvents ? webinar.allEvents[0].title : ''"
					[webinars]="webinar.allEvents"
				>
				</ocl-webinar-card>
			</div>
		</div>
	</div>
</div>
