@import "@one/typography/mixins";

@import "@one/layout/ocl-grid";
@import "@one/page-title/page-title";
@import "@one/icon/icon";

.entrada-body {
	@include ocl-typography-base;
}

.entrada-wrapper {
  padding-top: 55px;
}

.entrada-page-heading {
  text-align: center;
}

.ocl-title--red {
  display: inline-block;
  margin-bottom: rem(40px);
  border-bottom: 1px solid #c6c6c6;
  color: #ac405e;
  font-size: rem(34px);
  font-weight: bold;
  line-height: rem(42px);
}


.ocl-title--black {
  margin-bottom: rem(15px);
  color: #444;
  font-size: rem(26px);
  font-style: italic;
  font-weight: bold;
}
