@import "@one/assignable-selection/assignable-selection";
@import "@one/assignment-history/assignment-history";
@import "@one/checkbox/checkbox";
@import "@one/button/button";
@import "@one/datefield/datefield";
@import "@one/fielderror/fielderror";
@import "@one/fieldlabel/fieldlabel";
@import "@one/textfield/textfield";
@import "@one/page-title/page-title";

.ocl-input-wrapper{
	position: relative;
}

.ocl-input-label {
	font-weight: bold;
}

.ocl-form-group {
	margin-bottom: rem(20px);
}

.ocl-title--red {
	font-size: rem(34px);
	margin-bottom: rem(35px);
}