<div ocl-main-nav [name]="user.name ? user.name : ''"></div>
<div class="ocl-page-title">
	<h1 class="ocl-page-title__heading">Skill Library</h1>
	<span class="ocl-page-title__secondary">
		<span>
			jgonzalez@yahoo.com<br>
			​​​​​​​Added: 10/14/16
		</span>
	</span>
</div>
<div class="container">
	<div class="entrada-wrapper student-link">
		<div class="row">
			<div class="col s6">
				<div class="ocl-student-assignment-wrap">
					<div class="ocl-title--red">Assignment</div>
					<div class="ocl-form-group">
						<label class="ocl-input-label">Assignment Title (optional)</label>
						<div class="ocl-input-wrapper">
							<input class="ocl-input" placeholder="Default text field" type="text"/>
						</div>
					</div>
					<div class="ocl-form-group">
						<label class="ocl-input-label">Assignment Status</label>
						<div class="ocl-assignment-status">Complete / Incomplete / Draft / Assigned</div>
					</div>
					<div class="ocl-form-group">
						<label class="ocl-input-label">Date Assigned</label>
						<div class="ocl-datefield">
							<div class="ocl-input-wrapper">
								<input class="ocl-input ocl-datefield__input" placeholder="Default date field" type="text" value=6/4/17><i class="fa fa-calendar" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="ocl-form-group">
						<label class="ocl-input-label">Due Date</label>
						<div class="ocl-datefield">
							<div class="ocl-input-wrapper">
								<input class="ocl-input ocl-datefield__input" placeholder="Default date field" type="text" value=6/4/17><i class="fa fa-calendar" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="ocl-form-group">
						<label class="ocl-input-label">Skills/Repertoire</label>
						<div class="ocl-assignable-selection">
							<div class="ocl-assignable-selection__handle"><i class="fa fa-reorder" aria-hidden="true"></i></div>
							<div class="ocl-assignable-selection__title">Anatomy and Piano Playing</div>
							<div class="ocl-assignable-selection__remove"><i class="fa fa-remove" aria-hidden="true"></i></div>
						</div>
						<label class="ocl-checkbox">
							<div class="ocl-input-wrapper">
								<input type="checkbox" class="ocl-checkbox__input" name="group" value="checkbox">Include Quiz
							</div>
							<div class="ocl-checkbox__toggle"><i class="fa fa-check" aria-hidden="true"></i></div>
						</label>
					</div>
					<div class="ocl-form-group">
						<div class="ocl-assignable-selection">
							<div class="ocl-assignable-selection__handle"><i class="fa fa-reorder" aria-hidden="true"></i></div>
							<div class="ocl-assignable-selection__title">Guidelines for Children and Shorter Adults & Sitting Position Summation</div>
							<div class="ocl-assignable-selection__remove"><i class="fa fa-remove" aria-hidden="true"></i></div>
						</div>
						<label class="ocl-checkbox">
							<div class="ocl-input-wrapper">
								<input type="checkbox" class="ocl-checkbox__input" name="group" value="checkbox">Include Quiz
							</div>

							<div class="ocl-checkbox__toggle"><i class="fa fa-check" aria-hidden="true"></i></div>
						</label>
					</div>
					<div class="ocl-form-group">
						<label class="ocl-input-label">Textarea</label>
						<textarea class="ocl-input ocl-input__textarea" placeholder="Default textarea" rows="5" cols="5" type='text'></textarea>
					</div>

				</div>
			</div>
			<div class="col s6">
				<div class="ocl-student-assignment-wrap">
					<div class="ocl-card ocl-card--flat ocl-assignment-history">
						<div class="ocl-card__header ocl-card__header--full-width ocl-assignment-history__header">
							<h2 class="ocl-assignment-history__title">Assignment Activity</h2>
						</div>
						<div class="ocl-card__body ocl-assignment-history__body">
							<div class="ocl-assignment-history-day">
								<h3 class="ocl-assignment-history-day__heading">
									6/12/17
								</h3>
								<ul class="ocl-assignment-history__list">
									<li class="ocl-assignment-history__list-item">
										<div class="ocl-assignment-history-event__header">
											<i class="fa fa-question-circle"></i>
											<h4 class="ocl-assignment-history-event__heading">Quiz Attempt</h4>
											<button class="ocl-button ocl-button--link-style ocl-assignment-history-event__more">
												<span>Show more</span>
											</button>
										</div>
										<div class="ocl-assignment-history-event__details">
											<ul class="ocl-assignment-history-event__details-list">
												<li class="ocl-assignment-history-event__details-list-item">
													Answered: 10/10
												</li>
												<li class="ocl-assignment-history-event__details-list-item">
													Correct:8
												</li>
												<li class="ocl-assignment-history-event__details-list-item">
													Incorrect: 2
												</li>
												<li class="ocl-assignment-history-event__details-list-item">
													Quiz Time: 3mins
												</li>
												<li class="ocl-assignment-history-event__details-list-item">
													​​​​​​​*Watched videos during quiz taking
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
							<div class="ocl-assignment-history-day">
								<h3 class="ocl-assignment-history-day__heading">
									5/12/17
								</h3>
								<ul class="ocl-assignment-history__list">
									<li class="ocl-assignment-history__list-item">
										<div class="ocl-assignment-history-event__header">
											<i class="fa fa-eye"></i>
											<h4 class="ocl-assignment-history-event__heading">Video Watched</h4>
										</div>
									</li>
								</ul>
							</div>
							<div class="ocl-assignment-history-day">
								<h3 class="ocl-assignment-history-day__heading">
									5/12/17
								</h3>
								<ul class="ocl-assignment-history__list">
									<li class="ocl-assignment-history__list-item">
										<div class="ocl-assignment-history-event__header">
											<i class="fa fa-pencil"></i>
											<h4 class="ocl-assignment-history-event__heading">Assignment Updated</h4>
										</div>
									</li>
								</ul>
							</div>
							<div class="ocl-assignment-history-day">
								<h3 class="ocl-assignment-history-day__heading">
									5/12/17
								</h3>
								<ul class="ocl-assignment-history__list">
									<li class="ocl-assignment-history__list-item">
										<div class="ocl-assignment-history-event__header">
											<i class="fa fa-check-circle"></i>
											<h4 class="ocl-assignment-history-event__heading">Assignment Created</h4>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
