<div class="ocl-drawer-nav">
    <span class="ocl-drawer-nav__user">
        Signed&nbsp;in&nbsp;as:
        {{name}}
    </span>
	<ul class="ocl-drawer-nav__primary-list">
		<li class="ocl-drawer-nav__primary-list-item">
			<a href="" class="ocl-drawer-nav__primary-link">
				<div class="ocl-drawer-nav__link-icon ocl-drawer-nav__link-icon--left">
					<i class="fa fa-home" aria-hidden="true"></i>
				</div>
				Dashboard
				<div class="ocl-drawer-nav__link-icon ocl-drawer-nav__link-icon--right">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</div>
			</a>
		</li>
		<li class="ocl-drawer-nav__primary-list-item">
			<a href="" class="ocl-drawer-nav__primary-link">
				<div class="ocl-drawer-nav__link-icon ocl-drawer-nav__link-icon--left">
					<i class="fa fa-graduation-cap" aria-hidden="true"></i>
				</div>
				StudentLink
				<div class="ocl-drawer-nav__link-icon ocl-drawer-nav__link-icon--right">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</div>
			</a>
		</li>
		<li class="ocl-drawer-nav__primary-list-item">
			<a href="" class="ocl-drawer-nav__primary-link">
				<div class="ocl-drawer-nav__link-icon ocl-drawer-nav__link-icon--left">
					<i class="fa fa-bookmark" aria-hidden="true"></i>
				</div>
				My List
				<div class="ocl-drawer-nav__link-icon ocl-drawer-nav__link-icon--right">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</div>
			</a>
		</li>
		<li class="ocl-drawer-nav__primary-list-item">
			<a href="" class="ocl-drawer-nav__primary-link">
				<div class="ocl-drawer-nav__link-icon ocl-drawer-nav__link-icon--left">
					<i class="fa fa-hand-lizard-o icon-rotated" aria-hidden="true"></i>
				</div>
				Skill Library
				<div class="ocl-drawer-nav__link-icon ocl-drawer-nav__link-icon--right">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</div>
			</a>
		</li>
		<li class="ocl-drawer-nav__primary-list-item">
			<a href="" class="ocl-drawer-nav__primary-link">
				<div class="ocl-drawer-nav__link-icon ocl-drawer-nav__link-icon--left">
					<i class="fa fa-book" aria-hidden="true"></i>
				</div>
				Repertoire Library
				<div class="ocl-drawer-nav__link-icon ocl-drawer-nav__link-icon--right">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</div>
			</a>
		</li>
	</ul>
	<ul class="ocl-drawer-nav__secondary-list">
		<li class="ocl-drawer-nav__secondary-list-item">
			<a href="" class="ocl-drawer-nav__secondary-link">Tour</a>
		</li>
		<li class="ocl-drawer-nav__secondary-list-item">
			<a href="" class="ocl-drawer-nav__secondary-link">News</a>
		</li>
		<li class="ocl-drawer-nav__secondary-list-item">
			<a href="" class="ocl-drawer-nav__secondary-link">Help</a>
		</li>
	</ul>
</div>
