<div class="ocl-card ocl-card--full-width-header ocl-assignment-card">
	<div class="ocl-card__header ocl-assignment-card__header">
		<div class="ocl-assignment-card__date ocl-assignment-card__date--assigned">Assigned: {{assigned ? assigned : 'Not Assigned'}}</div>
		<div *ngIf="due" class="ocl-assignment-card__date ocl-assignment-card__date--due">Due: {{due}}</div>
		<div *ngIf="completed" class="ocl-assignment-card__date ocl-assignment-card__date--completed">{{completed}}</div>
	</div>
	<div class="ocl-card__body ocl-assignment-card__body">
		<h2 *ngIf="title" class="ocl-assignment-card__title">{{title}}</h2>
		<ul *ngIf="assignmentItems" class="ocl-assignment-card__list">
			<ocl-assignment-item *ngFor="let assignmentItem of assignmentItems"
			                     [title]="assignmentItem.title"
			                     [titleLink]="assignmentItem.titleLink"
			                     [detail]="assignmentItem.detail"></ocl-assignment-item>
		</ul>
	</div>
	<div class="ocl-card__footer ocl-assignment-card__footer">
		<button class="ocl-button ocl-button--link-style ocl-assignment-card__unassign ocl-assignment-card__footer-item"><span>View/Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></button>
		<button class="ocl-button ocl-button--link-style ocl-assignment-card__reassign ocl-assignment-card__footer-item"><span>Reassign</span></button>
		<button class="ocl-button ocl-button--link-style ocl-assignment-card__unassign ocl-assignment-card__footer-item"><span>Unassign</span></button>
		<button class="ocl-button ocl-button--link-style ocl-assignment-card__footer-item ocl-assignment-card__footer-trash">
			<span><i class="fa fa-trash" aria-hidden="true"></i></span>
		</button>
	</div>
</div>

