<div ocl-main-nav [name]="user.name ? user.name : ''"></div>
<div class="ocl-page-title">
	<h1 class="ocl-page-title__heading">Repertoire Library</h1>
</div>
<div class="container">
	<div class="entrada-wrapper repertoire-library">
		<div class="row">
			<div class="col s12">
				<div class="repertoire-library__filters">
					here come the filters!
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s10">
				<div ocl-repertoire-card></div>
				<div ocl-repertoire-card></div>
				<div ocl-repertoire-card></div>
			</div>
		</div>
	</div>
</div>
