<div class="ocl-card ocl-card--full-width-header ocl-assignment-card ocl-student-assignment-card">
	<div class="ocl-card__header ocl-assignment-card__header">
		<div class="ocl-assignment-card__date ocl-assignment-card__date--assigned">Assigned: {{assigned}}</div>
		<div class="ocl-assignment-card__date ocl-assignment-card__date--due">Due: {{due}}</div>
	</div>
	<div class="ocl-card__body ocl-assignment-card__body">
		<h2 *ngIf="title" class="ocl-assignment-card__title">{{title}}</h2>
		<ul class="ocl-assignment-card__list">
			<ocl-assignment-item *ngFor="let assignmentItem of assignmentItems"
			[title]="assignmentItem.title"
			[detail]="assignmentItem.detail"></ocl-assignment-item>
		</ul>
	</div>
	<div *ngIf="notes" class="ocl-card__footer ocl-assignment-card__footer ocl-student-assignment-card__footer">
		<div class="ocl-student-assignment-card__footer-title">Notes from your teacher</div>
		<div class="ocl-student-assignment-card__footer-content">{{notes}}</div>
	</div>
</div>