<div ocl-main-nav [name]="user.name ? user.name : ''"></div>
<div class="ocl-page-title">
	<h1 class="ocl-page-title__heading">Skill Library</h1>
	<span class="ocl-page-title__secondary">
		<button class="ocl-button">
			<span class="ocl-button__label">Skills Overview</span>
		</button>
	</span>
</div>
<div class="container">
	<div class="entrada-wrapper skill-library">
		<div class="row">
			<div class="col s12">
				<div class="ocl-title--red">Entrada Foundations</div>
				<div class="ocl-title--black">Entrada Foundations</div>
				<div class="ocl-skill-library-wrap">
					<div class="ocl-card ocl-module-card ocl-card--full-width-header ocl-card--square-top">
						<div class="ocl-card__header ocl-module-card__header">
							<div class="ocl-module-card__header-content">
								<a href="#" class="ocl-module-card__image">
									<img class="ocl-module-card__image-element" src="http://placehold.it/350x150" alt="">
									<i class="fa fa-play-circle"></i>
								</a>
							</div>
							<div class="ocl-card__body ocl-module-card__body">
								<div class="ocl-card__body-content ocl-module-card__body-content">
									<a href="#" class="ocl-module-card__link">
										<h3 class="ocl-module-card__title">Sitting Position</h3>
									</a>
					                <span class="ocl-module-card__detail">
					                    <span class="ocl-module-card__detail-text">
					                        3 Videos (4:46)
					                    </span>
					                    <button class="ocl-module-card__addto">
					                        <i class="fa fa-plus-square-o"></i>
					                    </button>
					                    <div class="ocl-popover ocl-popover--no-close">
					                        <div class="ocl-popover__list">
					                            <a class="ocl-popover__link" href="#">
					                                Add to Assignment
					                            </a>
					                            <a class="ocl-popover__link" href="#">
					                                Add to My List
					                            </a>
					                        </div>
					                        <button class="ocl-popover__close">
					                            <div class="ocl-popover__close-element"></div>
					                        </button>
					                        <div class="ocl-popover__arrow ocl-popover__arrow--bottom-right"></div>
					                    </div>
					                </span>
								</div>
							</div>
						</div>
					</div>
					<div class="ocl-card ocl-module-card ocl-module-card--tooltip-visible ocl-card--full-width-header ocl-card--square-top">
						<div class="ocl-card__header ocl-module-card__header">
							<div class="ocl-module-card__header-content">
								<a href="#" class="ocl-module-card__image">
									<img class="ocl-module-card__image-element" src="http://placehold.it/350x150" alt="">
									<i class="fa fa-play-circle"></i>
								</a>
							</div>
							<div class="ocl-card__body ocl-module-card__body">
								<div class="ocl-card__body-content ocl-module-card__body-content">
									<a href="#" class="ocl-module-card__link">
										<h3 class="ocl-module-card__title">Anatomy and Piano Playing</h3>
									</a>
					                <span class="ocl-module-card__detail">
					                    <span class="ocl-module-card__detail-text">
					                        3 Videos (4:46)
					                    </span>
					                    <button class="ocl-module-card__addto">
					                        <i class="fa fa-plus-square-o"></i>
					                    </button>
					                    <div class="ocl-popover ocl-popover--no-close">
					                        <div class="ocl-popover__list">
					                            <a class="ocl-popover__link" href="#">
					                                Add to Assignment
					                            </a>
					                            <a class="ocl-popover__link" href="#">
					                                Add to My List
					                            </a>
					                        </div>
					                        <button class="ocl-popover__close">
					                            <div class="ocl-popover__close-element"></div>
					                        </button>
					                        <div class="ocl-popover__arrow ocl-popover__arrow--bottom-right"></div>
					                    </div>
					                </span>
								</div>
							</div>
						</div>
					</div>
					<div class="ocl-card ocl-module-card ocl-card--full-width-header ocl-card--square-top">
						<div class="ocl-card__header ocl-module-card__header">
							<div class="ocl-module-card__header-content">
								<a href="#" class="ocl-module-card__image">
									<img class="ocl-module-card__image-element" src="http://placehold.it/350x150" alt="">
									<i class="fa fa-play-circle"></i>
								</a>
							</div>
							<div class="ocl-card__body ocl-module-card__body">
								<div class="ocl-card__body-content ocl-module-card__body-content">
									<a href="#" class="ocl-module-card__link">
										<h3 class="ocl-module-card__title">Hand Position and the Sound Point</h3>
									</a>
					                <span class="ocl-module-card__detail">
					                    <span class="ocl-module-card__detail-text">
					                        3 Videos (4:46)
					                    </span>
					                    <button class="ocl-module-card__addto">
					                        <i class="fa fa-plus-square-o"></i>
					                    </button>
					                    <div class="ocl-popover ocl-popover--no-close">
					                        <div class="ocl-popover__list">
					                            <a class="ocl-popover__link" href="#">
					                                Add to Assignment
					                            </a>
					                            <a class="ocl-popover__link" href="#">
					                                Add to My List
					                            </a>
					                        </div>
					                        <button class="ocl-popover__close">
					                            <div class="ocl-popover__close-element"></div>
					                        </button>
					                        <div class="ocl-popover__arrow ocl-popover__arrow--bottom-right"></div>
					                    </div>
					                </span>
								</div>
							</div>
						</div>
					</div>
					<div class="ocl-card ocl-module-card ocl-card--full-width-header ocl-card--square-top">
						<div class="ocl-card__header ocl-module-card__header">
							<div class="ocl-module-card__header-content">
								<a href="#" class="ocl-module-card__image">
									<img class="ocl-module-card__image-element" src="http://placehold.it/350x150" alt="">
									<i class="fa fa-play-circle"></i>
								</a>
							</div>
							<div class="ocl-card__body ocl-module-card__body">
								<div class="ocl-card__body-content ocl-module-card__body-content">
									<a href="#" class="ocl-module-card__link">
										<h3 class="ocl-module-card__title">Utilizing Gravity</h3>
									</a>
					                <span class="ocl-module-card__detail">
					                    <span class="ocl-module-card__detail-text">
					                        3 Videos (4:46)
					                    </span>
					                    <button class="ocl-module-card__addto">
					                        <i class="fa fa-plus-square-o"></i>
					                    </button>
					                    <div class="ocl-popover ocl-popover--no-close">
					                        <div class="ocl-popover__list">
					                            <a class="ocl-popover__link" href="#">
					                                Add to Assignment
					                            </a>
					                            <a class="ocl-popover__link" href="#">
					                                Add to My List
					                            </a>
					                        </div>
					                        <button class="ocl-popover__close">
					                            <div class="ocl-popover__close-element"></div>
					                        </button>
					                        <div class="ocl-popover__arrow ocl-popover__arrow--bottom-right"></div>
					                    </div>
					                </span>
								</div>
							</div>
						</div>
					</div>
					<div class="ocl-card ocl-module-card ocl-card--full-width-header ocl-card--square-top">
						<div class="ocl-card__header ocl-module-card__header">
							<div class="ocl-module-card__header-content">
								<a href="#" class="ocl-module-card__image">
									<img class="ocl-module-card__image-element" src="http://placehold.it/350x150" alt="">
									<i class="fa fa-play-circle"></i>
								</a>
							</div>
							<div class="ocl-card__body ocl-module-card__body">
								<div class="ocl-card__body-content ocl-module-card__body-content">
									<a href="#" class="ocl-module-card__link">
										<h3 class="ocl-module-card__title">Whole-Body Technique: Combining Alignment, Freedom and Support</h3>
									</a>
					                <span class="ocl-module-card__detail">
					                    <span class="ocl-module-card__detail-text">
					                        3 Videos (4:46)
					                    </span>
					                    <button class="ocl-module-card__addto">
					                        <i class="fa fa-plus-square-o"></i>
					                    </button>
					                    <div class="ocl-popover ocl-popover--no-close">
					                        <div class="ocl-popover__list">
					                            <a class="ocl-popover__link" href="#">
					                                Add to Assignment
					                            </a>
					                            <a class="ocl-popover__link" href="#">
					                                Add to My List
					                            </a>
					                        </div>
					                        <button class="ocl-popover__close">
					                            <div class="ocl-popover__close-element"></div>
					                        </button>
					                        <div class="ocl-popover__arrow ocl-popover__arrow--bottom-right"></div>
					                    </div>
					                </span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ocl-title--black">Entrada Foundations</div>
				<div class="ocl-skill-library-wrap">
					<div class="ocl-card ocl-module-card ocl-card--full-width-header ocl-card--square-top">
						<div class="ocl-card__header ocl-module-card__header">
							<div class="ocl-module-card__header-content">
								<a href="#" class="ocl-module-card__image">
									<img class="ocl-module-card__image-element" src="http://placehold.it/350x150" alt="">
									<i class="fa fa-play-circle"></i>
								</a>
							</div>
							<div class="ocl-card__body ocl-module-card__body">
								<div class="ocl-card__body-content ocl-module-card__body-content">
									<a href="#" class="ocl-module-card__link">
										<h3 class="ocl-module-card__title">Title</h3>
									</a>
					                <span class="ocl-module-card__detail">
					                    <span class="ocl-module-card__detail-text">
					                        3 Videos (4:46)
					                    </span>
					                    <button class="ocl-module-card__addto">
					                        <i class="fa fa-plus-square-o"></i>
					                    </button>
					                    <div class="ocl-popover ocl-popover--no-close">
					                        <div class="ocl-popover__list">
					                            <a class="ocl-popover__link" href="#">
					                                Add to Assignment
					                            </a>
					                            <a class="ocl-popover__link" href="#">
					                                Add to My List
					                            </a>
					                        </div>
					                        <button class="ocl-popover__close">
					                            <div class="ocl-popover__close-element"></div>
					                        </button>
					                        <div class="ocl-popover__arrow ocl-popover__arrow--bottom-right"></div>
					                    </div>
					                </span>
								</div>
							</div>
						</div>
					</div>
					<div class="ocl-card ocl-module-card ocl-module-card--tooltip-visible ocl-card--full-width-header ocl-card--square-top">
						<div class="ocl-card__header ocl-module-card__header">
							<div class="ocl-module-card__header-content">
								<a href="#" class="ocl-module-card__image">
									<img class="ocl-module-card__image-element" src="http://placehold.it/350x150" alt="">
									<i class="fa fa-play-circle"></i>
								</a>
							</div>
							<div class="ocl-card__body ocl-module-card__body">
								<div class="ocl-card__body-content ocl-module-card__body-content">
									<a href="#" class="ocl-module-card__link">
										<h3 class="ocl-module-card__title">Title</h3>
									</a>
					                <span class="ocl-module-card__detail">
					                    <span class="ocl-module-card__detail-text">
					                        (0:55)
					                    </span>
					                    <button class="ocl-module-card__addto">
					                        <i class="fa fa-plus-square-o"></i>
					                    </button>
					                    <div class="ocl-popover ocl-popover--no-close">
					                        <div class="ocl-popover__list">
					                            <a class="ocl-popover__link" href="#">
					                                Add to Assignment
					                            </a>
					                            <a class="ocl-popover__link" href="#">
					                                Add to My List
					                            </a>
					                        </div>
					                        <button class="ocl-popover__close">
					                            <div class="ocl-popover__close-element"></div>
					                        </button>
					                        <div class="ocl-popover__arrow ocl-popover__arrow--bottom-right"></div>
					                    </div>
					                </span>
								</div>
							</div>
						</div>
					</div>
					<div class="ocl-card ocl-module-card ocl-card--full-width-header ocl-card--square-top">
						<div class="ocl-card__header ocl-module-card__header">
							<div class="ocl-module-card__header-content">
								<a href="#" class="ocl-module-card__image">
									<img class="ocl-module-card__image-element" src="http://placehold.it/350x150" alt="">
									<i class="fa fa-play-circle"></i>
								</a>
							</div>
							<div class="ocl-card__body ocl-module-card__body">
								<div class="ocl-card__body-content ocl-module-card__body-content">
									<a href="#" class="ocl-module-card__link">
										<h3 class="ocl-module-card__title">Title</h3>
									</a>
					                <span class="ocl-module-card__detail">
					                    <span class="ocl-module-card__detail-text">
					                        (0:55)
					                    </span>
					                    <button class="ocl-module-card__addto">
					                        <i class="fa fa-plus-square-o"></i>
					                    </button>
					                    <div class="ocl-popover ocl-popover--no-close">
					                        <div class="ocl-popover__list">
					                            <a class="ocl-popover__link" href="#">
					                                Add to Assignment
					                            </a>
					                            <a class="ocl-popover__link" href="#">
					                                Add to My List
					                            </a>
					                        </div>
					                        <button class="ocl-popover__close">
					                            <div class="ocl-popover__close-element"></div>
					                        </button>
					                        <div class="ocl-popover__arrow ocl-popover__arrow--bottom-right"></div>
					                    </div>
					                </span>
								</div>
							</div>
						</div>
					</div>
					<div class="ocl-card ocl-module-card ocl-card--full-width-header ocl-card--square-top">
						<div class="ocl-card__header ocl-module-card__header">
							<div class="ocl-module-card__header-content">
								<a href="#" class="ocl-module-card__image">
									<img class="ocl-module-card__image-element" src="http://placehold.it/350x150" alt="">
									<i class="fa fa-play-circle"></i>
								</a>
							</div>
							<div class="ocl-card__body ocl-module-card__body">
								<div class="ocl-card__body-content ocl-module-card__body-content">
									<a href="#" class="ocl-module-card__link">
										<h3 class="ocl-module-card__title">Title</h3>
									</a>
					                <span class="ocl-module-card__detail">
					                    <span class="ocl-module-card__detail-text">
					                        (0:55)
					                    </span>
					                    <button class="ocl-module-card__addto">
					                        <i class="fa fa-plus-square-o"></i>
					                    </button>
					                    <div class="ocl-popover ocl-popover--no-close">
					                        <div class="ocl-popover__list">
					                            <a class="ocl-popover__link" href="#">
					                                Add to Assignment
					                            </a>
					                            <a class="ocl-popover__link" href="#">
					                                Add to My List
					                            </a>
					                        </div>
					                        <button class="ocl-popover__close">
					                            <div class="ocl-popover__close-element"></div>
					                        </button>
					                        <div class="ocl-popover__arrow ocl-popover__arrow--bottom-right"></div>
					                    </div>
					                </span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
